meta(name="viewport" content="width=1, initial-scale=1.0")
meta(name="author" content="Kevin Quintino, Mattheus Soler & Vinínius de Jesus")
meta(name="keywords" content="SDOE, Sistema, Documentação, Execuções, Ordens, de, LBomfim")
meta(name="description" content="Sistema de Documentação de Ordens de Serviço (SDEO) - LBomfim")
meta(name='msapplication-TileColor' content='#ffffff')
meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
meta(name="theme-color" content="#396afc")
meta(name="msapplication-TileColor" content="#396afc")
link(rel='apple-touch-icon' sizes='57x57' href='./img/apple-icon-57x57.png')
link(rel='apple-touch-icon' sizes='60x60' href='./img/apple-icon-60x60.png')
link(rel='apple-touch-icon' sizes='72x72' href='./img/apple-icon-72x72.png')
link(rel='apple-touch-icon' sizes='76x76' href='./img/apple-icon-76x76.png')
link(rel='apple-touch-icon' sizes='114x114' href='./img/apple-icon-114x114.png')
link(rel='apple-touch-icon' sizes='120x120' href='./img/apple-icon-120x120.png')
link(rel='apple-touch-icon' sizes='144x144' href='./img/apple-icon-144x144.png')
link(rel='apple-touch-icon' sizes='152x152' href='./img/apple-icon-152x152.png')
link(rel='apple-touch-icon' sizes='180x180' href='./img/apple-icon-180x180.png')
link(rel='icon' type='image/png' sizes='192x192' href='./img/android-icon-192x192.png')
link(rel='icon' type='image/png' sizes='32x32' href='./img/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='96x96' href='./img/favicon-96x96.png')
link(rel='icon' type='image/png' sizes='16x16' href='./img/favicon-16x16.png')
link(href='https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap' rel='stylesheet')
link(href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous")
//link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" async)
link(rel="stylesheet" type="text/css" href="css/main.min.css" async)
link(rel="stylesheet" type="text/css" href="css/pace-flat-top.min.css" async)
script(src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.0/pace.min.js" integrity="sha512-ODCOsga6UmzubuwYSEhoHybHHmDMhrw/ZJEc5Tk53xqSQ1UZedP5xVx0ecSWK9eDSg9Zr69ROlhTKJKd/kOkSQ==" crossorigin="anonymous" async)
script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
script(src="https://kit.fontawesome.com/a6d3239b3e.js" crossorigin="anonymous" async)
script(type="text/javascript" src="js/main.min.js" async)